.filmes{
    background-color: black;
    color: #fff;
    padding: 10.56vh;

    h2{
        text-align: center;
        padding: 48px 0px 48px;
    }
    &__links{
        margin-top: 44px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        &__item{
            img{
                flex: 1;
                width: 50%;
                height: 100%;
            }
        }
    }
}