.hero{
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 23.6vh;
    min-height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('');
    background-size: cover;
    position: relative;
    text-align: center;

    &__content__texto{
        margin-bottom: 24px;
    }

    &__content__paragrafo{
        text-align: left;
    }
    &__content{
        max-width: 400px;
    }

}  

