@use 'base/reset';
@use './layout/header';
@use 'hero';
@use './layout/filmes';
@use './layout/atores';
@use './layout/footer';
@use './layout/Assistir';
@use './layout/Info';
@use './utils/var';

body{
    font-family: "Roboto", sans-serif;
    color: var.$corDoTexto;

    h1{
        font-family: "Lobster", sans-serif;
    }

    a{
        color: var.$corDoTexto;
    }

    
}
